
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: #f6f6f6;
  color: #611B24;
}

.home,
.contact {
  margin: auto;
  max-width: 1200px;
  padding: 0 10%;
  text-align: center;
}

/* home,imagen y titulo*/

.imagenprincipal {
  position: relative;
  width: 100%;
  text-align: center;
  margin-bottom: 40px;
}

.imagenprincipal img {
  width: 30%;
  height: auto;
  opacity: 0.5;
  display: block;
  margin: 0 auto;
}

.titulo-sobre-imagen {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.titulo-sobre-imagen h1 {
  font-size: 48px;
  margin: 0;
  color: #611B24;
}
.titulo-sobre-imagen h2 {
  font-size: 38px;
  margin: 0;
  color: #611B24;
}

.texto {
  max-width: 700px;
  margin: 40px auto;
  text-align: center;
  font-size: 18px;
  line-height: 1.5;
}

/* imagenes*/

/* AJUSTE SOLO PARA DESKTOP */

.imagenesbench,
.imageneskidsbench,
.imagenesvase,
.imagenesperfume {
  display: flex;
  justify-content: center;   /* centra las imágenes */
  align-items: center;
  gap: 20px;
  max-width: 1200px;         /* evita que se estiren */
  margin: 40px auto;
}

.imagenesbench img,
.imageneskidsbench img,
.imagenesvase img,
.imagenesperfume img {
  max-height: 220px;         /* 🔑 controla tamaño en desktop */
  width: auto;
  height: auto;
  object-fit: contain;
}

/* BOTÓN*/

.boton {
  display: block;
  margin: 40px auto;
  padding: 12px 30px;
  background-color: #611B24;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 14px;
  letter-spacing: 1px;
}

.boton:hover {
  background-color: #6E7A57;
}


@media (max-width: 768px) {

  /* quitar superposición */
  .titulo-sobre-imagen {
    position: static;
    transform: none;
    margin-bottom: 20px;
  }

  .titulo-sobre-imagen h1 {
    font-size: 40px;
  }
    .titulo-sobre-imagen h2 {
    font-size: 30px;
  }

  .imagenprincipal img {
    width: 70%;
  }

  .texto {
    padding: 0 20px;
    font-size: 16px;
  }

  /* imagene scroll horizontal solo en móvil */
  .imagenesbench,
  .imageneskidsbench,
  .imagenesvase,
  .imagenesperfume {
    overflow-x: auto;
    overflow-y: hidden;
    justify-content: flex-start;
  }

  .imagenesbench img,
  .imageneskidsbench img,
  .imagenesvase img,
  .imagenesperfume img {
    flex-shrink: 0;
    height: 220px;
  }
}



























